{% extends 'base.html' %}

{% block content %}

<h3>Description</h3>

<p>Twyrses is an ncurses based twitter client. For using twitter in a shell, without the expense of a nasty windowing system. It's fairly basic, but will let you view tweets, post tweets and some other functions.</p>
<p>Written in python and urwid, using tweepy as the twitter backend, mostly conceived with the assitance of alcohol, and expanded through 'well-I've-started-now-ness'.</p>

<h3>Screenshots</h3>

<img src="{{ MEDIA_URL }}/twyrses.png" alt="Twyrses running in a terminal with the white theme" width="600"/>

<h3>Installation</h3>
<h3>Usage</h3>
<h3>Contribute</h3>

{% endblock content %}